@media only screen and (max-width: 492px) {
    /* Side Section */
    .sideSection {
        position: absolute;
        width: 100%;
        border-radius: 0;
        opacity: 0;
        background: transparent;
    }

    #mainBody.settings .sideSection {
        transform: translateY(-16%);
        opacity: 1;
    }

    #mainBody.settings .sideSection .icon {
        backdrop-filter: blur(5px);
        background: rgba(234, 226, 214, .5);
    }

    .sideSection .copyRight {
        display: none;
    }

    /* Navbar */
    .navbar {
        z-index: 1000;
    }

    .navbar .logoContainer, .navbar .settingsIcon {
        width: 30px;
        height: 30px;
    }

    .navbar .logoContainer {
        width: 35px;
        padding: 10px 0 0 6px;
    }

    .navbar .logoContainer::before, .navbar .settingsIcon::before {
        width: 40px;
        height: 40px;
    }

    .settingsSection {
        width: 100%;
        padding: 0 20px;
        top: 55%;
    }

    select {
        backdrop-filter: blur(5px);
    }

    .btn {
        backdrop-filter: blur(5px);
        background: rgba(83, 62, 60, .85);
    }

    /* Main Body With Content */
    .body {
        width: 100%;
        border-radius: 0;
        transition: .5s all ease-in-out;
    }
    #mainBody.settings .body {
        transform: translateX(-100%);
    }

    .body h1 {
        width: unset;
        left: 50%;
        font-size: var(--big-size);
    }

    .body .prayTimesContainer {
        width: 100%;
        transform: translateY(-16px);
    }

    .prayTimesContainer .row.dateContainer {
        height: 130px;
        font-size: var(--bigger-size);
        background: rgba(231, 223, 211, 0.5);
    }

    .prayTimesContainer .row.dateContainer .date {
        font-size: var(--normal-size);
    }

    .prayTimesContainer .row.prayTimeContainer .prayTime {
        width: 100%;
    }

    .prayTimesContainer .row.prayTimeContainer .until {
        opacity: 50%;
    }

    .prayTimesContainer .row.prayTimeContainer .prayTime, 
    .prayTimesContainer .row.prayTimeContainer .until {
        background: rgba(234, 226, 214, .5);
    }

    .body .timeNow {
        display: none;
        width: 90%;
        right: 5%;
        bottom: unset;
        top: 120px;
        background: rgba(234, 226, 214, .5);
    }

    body::before {
        opacity: 5%;
    }
    
    img.background {
        width: 100%;
    }
}