@media only screen and (max-width: 1400px) {
    body::after {
        background: rgba(0, 0, 0, .05);
    }

    /* Side Section */
    .sideSection {
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-10%);
            -ms-transform: translateY(-10%);
                transform: translateY(-10%);
        border-radius: 0;
        opacity: 0;
        background: transparent;
    }

    #mainBody.settings .sideSection {
        -webkit-transform: translateY(-24%);
            -ms-transform: translateY(-24%);
                transform: translateY(-24%);
        opacity: 1;
    }
    
    .sideSection .imgContainer img {
        width: 100px;
        height: 100px;
        margin-bottom: 24px;
    }
    
    .sideSection .name {
        margin-bottom: 8px;
        font-size: 32px;
    }

    .sideSection .description {
        font-size: var(--small-size);
    }

    .sideSection .socialIcons {
        margin-top: 32px;
    }

    .sideSection .icon {
        width: 64px;
        height: 64px;
        border-radius: 12.5px;
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        background: rgba(234, 226, 214, .25);
    }

    .sideSection .icon img {
        width: 30px;
        height: 30px;
    }

    .sideSection .infoContainer {
        margin-bottom: 0;
    }

    .sideSection .copyRight {
        display: none;
    }

    /* Navbar */
    .navbar {
        z-index: 1000;
    }

    .navbar .logoContainer, .navbar .settingsIcon {
        width: 30px;
        height: 30px;
    }

    .navbar .logoContainer {
        width: 35px;
        padding: 10px 0 0 6px;
    }

    .navbar .logoContainer::before, .navbar .settingsIcon::before {
        width: 40px;
        height: 40px;
        background: rgba(234, 226, 214, .5);
    }

    .settingsSection {
        width: 100%;
        padding: 0 20px;
        top: 43%;
    }

    select {
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        font-size: var(--small-size);
    }

    .btn {
        -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
        background: rgba(83, 62, 60, .85);
    }

    .btn#Continu {
        height: 50px;
    }

    /* Main Body With Content */
    .body {
        width: 100%;
        border-radius: 0;
        -webkit-transition: .5s all ease-in-out;
        -o-transition: .5s all ease-in-out;
        transition: .5s all ease-in-out;
    }
    #mainBody.settings .body {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
    }

    .body h1 {
        width: unset;
        left: 50%;
        font-size: var(--big-size);
    }

    .body .prayTimesContainer {
        width: 100%;
        -webkit-transform: translateY(-16px);
            -ms-transform: translateY(-16px);
                transform: translateY(-16px);
    }

    .prayTimesContainer .row.dateContainer {
        height: 130px;
        font-size: var(--bigger-size);
        background: rgba(231, 223, 211, 0.5);
    }

    .prayTimesContainer .row.dateContainer .date {
        font-size: var(--normal-size);
    }

    .prayTimesContainer .row.prayTimeContainer .prayTime {
        width: 100%;
    }

    .prayTimesContainer .row.prayTimeContainer .until {
        opacity: 50%;
    }

    .prayTimesContainer .row.prayTimeContainer .prayTime, 
    .prayTimesContainer .row.prayTimeContainer .until {
        padding: 12;
        background: rgba(234, 226, 214, .25);
    }

    .body .timeNow {
        display: none;
        width: 90%;
        right: 5%;
        bottom: unset;
        top: 120px;
        background: rgba(234, 226, 214, .5);
    }

    body::before {
        opacity: 5%;
    }
    
    img.background {
        width: 100%;
    }

    /* Welcome Screen */
    .welcomeScreen {
        width: 90%;
        height: 90vh;
        right: 5%;
        padding: 15px;
        border-radius: 15px;
    }

    .welcomeScreen .textContainer .title,
    .choice .choiceTitle {
        font-size: var(--small-size);
    }

    .welcomeScreen .textContainer .textContent {
        font-size: var(--smaller-size);
    }

    .prayTimesContainer .row.prayTimeContainer .prayTime {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 10px 24px;
    }
    .prayTimesContainer .row.prayTimeContainer.done .prayTime {
        width: 100%;
        padding: 10px 24px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .prayTimesContainer .row.prayTimeContainer.done .until {
        display: none;
    }
}